section {
    /* display: none; */
    transition: all .3s;
    /* translateZ toggles GPU for rendering (smoother animation) */
    transform: translateX(-999px) translateZ(0);
}

section.active {
    transition: all .3s;
    transform: translateX(0);
}

